body {
	background: $color__background-body; // Fallback for when there is no custom background color defined.
	font-family: $font__montblanc-regular;

	&.open {
		overflow: hidden;
		.header__menu-mobile {
			display: block;
		}
	}
}

html {
	overflow-x: hidden;

}
