body {
	background: $color__background-body; // Fallback for when there is no custom background color defined.
	font-family: $font__montblanc-regular;
}

html {
	overflow-x: hidden;
	&:has(body.open) {
		overflow: hidden;
	}
}
