#scrollToTop {
	position: fixed;
	bottom: 60px;
	right: 30px;
	display: block;
	width: 45px;
	height: 45px;
	background-color: $color__accent;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border: none;
}
