a {
	text-decoration: none;
	color: $color__primary-dark;
	transition: all 0.3s;

	&:visited {
		color: $color__primary-dark;
	}

	&:hover,
	&:focus,
	&:active {
		color: $color__primary-dark;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}

	&.button {
		position: relative;
		display: inline-block;
		color: $color__primary-dark;
		span { 
			z-index: 2;
			position: relative;
		}
		// background-color: $color__accent;
		border: 1px solid $color__accent;
		&.ghost {
			color: $color__white;
			background-color: transparent;
			border: 1px solid $color__white;
			&.accent {
				border: 1px solid $color__accent;
				color: $color__accent;
			}
		}

		&.small {
			padding: 0.5rem 1rem;
			border-radius: 4px;
	
			font-size: 14px;
			font-family: $font__montblanc-semibold;
			line-height: 20px;

			&::before {
				border-radius: 4px !important;
			}
			&::after {
				border-radius: 4px !important;
			}
		}
		
		padding: 12px 20px;
		border-radius: 80px;

		font-size: 18px;
		font-family: $font__montblanc-semibold;
		line-height: 28px; 

		&:not(.ghost) {
			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 1;
				background-color: $color__accent;
				transition: all 0.3s;
				border-radius: 80px;
			}
			&:hover::before {
				opacity: 0 ;
				transform: scale(0.5,0.5);
			}
			&::after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 1;
				opacity: 0;
				transition: all 0.3s;
				border: 1px solid $color__accent;
				transform: scale(1.2,1.2);
				border-radius: 80px;
			}
			&:hover::after {
				opacity: 1;
				transform: scale(1,1);
			}
		}
	}
}
