a {
	text-decoration: none;
	color: $color__primary-dark;

	&:visited {
		color: $color__primary-dark;
	}

	&:hover,
	&:focus,
	&:active {
		color: $color__primary-dark;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}

	&.button {
		display: inline-block;
		color: $color__primary-dark;
		background-color: $color__accent;
		border: 1px solid $color__accent;
		&.ghost {
			color: $color__white;
			background-color: transparent;
			border: 1px solid $color__white;
			&.accent {
				border: 1px solid $color__accent;
				color: $color__accent;
			}
		}

		&.small {
			padding: 0.5rem 1rem;
			border-radius: 4px;
	
			font-size: 14px;
			font-family: $font__montblanc-semibold;
			line-height: 20px;
		}
		
		padding: 12px 20px;
		border-radius: 80px;

		font-size: 18px;
		font-family: $font__montblanc-semibold;
		line-height: 28px; 

	}
}
