.about {
  padding: 30px 0 50px;
  @include respond-to('tablet') {
    padding: 50px 0 60px;
  }
  @include respond-to('desktop') {
    padding: 50px 0 80px;
  }
  &__row {
    display: grid;
    position: relative;

    grid-template-columns: 1fr;
    gap: 0;
    @include respond-to('desktop') {
      grid-template-columns: repeat(2, 1fr);
      gap: 94px;
    }
  }
  &__col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    position: relative;
    z-index: 2;
    &:first-child > div {
      &:first-child {
        p {
          padding-right: 0;
          @include respond-to('tablet') {
            padding-right: 238px;
          }
          @include respond-to('desktop') {
            padding-right: 0;
          }
        }
      }
      &:last-child {
        p {
          padding-right: 0;
          @include respond-to('tablet') {
            padding-right: 273px;
          }
          @include respond-to('desktop') {
            padding-right: 0;
          }
        }
      }
    }
    &:has(img) {
      z-index: 1;
      position: absolute;
      right: 0;
      bottom: 0;
      display: none;
      @include respond-to('tablet') { 
        display: block;
        img { 
          max-width: 300px;
        }
      }
      @include respond-to('desktop') {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        position: static;
        img {
          max-width: unset;
          transition: all 0.5s;
          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }

    h3 {
      font-family: $font__mont-heavy;
      line-height: 40px;
  
      font-size: 26px;
      @include respond-to('desktop') {
        font-size: 32px;
      }
    }
    p {
      &:not(:has(a)){margin-bottom: 16px;
      font-family: $font__mont-semibold;
  
      font-size: 16px;  
      line-height: 25px;
      @include respond-to('desktop') {
        font-size: 22px;
        line-height: 36px;
      }}
    }
    a {
      font-size: 18px;
      color: $color__accent;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
  
  &__cta {
    text-align: center;
    margin-top: 80px;
    
    display: none;
    @include respond-to('desktop') { 
      display: block;
    }
  }
}