.online {
  padding: 115px 0 80px 1px;
  &__title {
    margin-bottom: 80px;
  }
  &__row {
    display: flex;
  }
  &__col {
    width: 50%;
    display: flex;
    img {
      max-width: 460px;
      object-fit: contain;
      width: 100%;
      min-height: 100%; 
    }
    &:has(img) {
      justify-content: flex-end;
      padding-left: 100px;

      display: none;
      @include respond-to('tablet') {
        display: block;
      }
    }
  }
  &__items {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  &__item {
    font-size: 22px;
    font-family: $font__montblanc-semibold;
    line-height: 36px;
    display: flex;
    gap: 26px;
    svg {
      min-width: 64px;
    }
  }
  &__cta {
    margin-top: 50px;
    text-align: center;
  }
}