.partners {
  padding: 32px 0;
  background-color: $color__bg-light;
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;

    justify-content: flex-start;
    @include respond-to('tablet') {
      justify-content: center;
    }
    img {
      max-height: 36px;
    }
  }
}