.header {
  font-size: 14px;
  font-family: $font__montblanc-regular;
  line-height: 20px;
  &__notice {
    background-color: $color__background-dark;
    color: $color__white;
    text-align: center;
    font-size: 12px;
    line-height: 17px;
    padding: 0.5rem 0;

    svg {
      margin-left: 5px;
    }
    &:not(.open) {
      svg {
        transform: rotate(180deg);
      }
    }
  }
  &__top {
    background-color: $color__primary-light;
    padding: 0.375rem 0;
    &> .wrapper, ul, .wrapper > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    ul {
      margin: 0;
      padding: 0;
      gap: 26px;
      li {
        display: inline-flex;
        align-items: center;
        a {
          display: flex;
          align-items: center;
        }
        span {
          display: none;
        }
        @include respond-to('mobile') {
          svg {
            display: none;
          }
          span {
            display: inline;
          }
        }
      }
    }

    .trp-language-switcher {
      width: auto;
      height: auto;
      margin-right: 1rem;
      .trp-ls-shortcode-current-language {
        border: none;
        padding: 0;
        width: auto !important;
        background-image: unset;
        background-color: transparent;
        a {
          padding: 0;
        }
      }
      .trp-ls-shortcode-language {
        left: unset;
        right: 0;
        padding: 0;
        background-image: unset;
        border: none;
        width: auto !important;
        z-index: 3;
      }
      & > div > a {
        padding: 7px;
        img {
          min-width: 18px;
        }
      }
    }
  }
  &__phone {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
  &__logo {
    display: flex;
  }
  &__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    a:not(.button) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__menu {
    gap: 0.5rem;

    display: none;
    @include respond-to('desktop') {
      display: flex;
    }
    li {
      display: inline-block;
      padding: 0 0.5rem;
    }

    &-mobile {
      position: fixed;
      height: 100vh;
      top: -100%;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: $color__white;
      z-index: 99999999;

      transition: all 0.5s;

      header {
        padding: 14px 24px 18px 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        fill: #FFF;
        box-shadow:1px 7px 21px rgba(177, 177, 177, 0.25);
      }
      &__wrapper {
        display: flex;
        flex-direction: column;

        padding: 20px 16px 12px 16px;
        @include respond-to('mobile') {
          padding: 20px 40px;
        }
      }

      ul {
        li {
          display: block;
          border-bottom: 0.5px solid #E0E0E0;
          padding: 12px 0;

          a:not(.button) {
            display: inline-block;
            color: $color__primary-dark;
            text-decoration: none;

            font-size: 14px;
            line-height: 20px;
            @include respond-to('mobile') {
              font-size: 16px;
              line-height: 24px;
            }

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  
  &__buttons {
    display: flex;
    align-items: center;
    gap: 12px;
    a {
      &:not(.button) {
        text-decoration: underline;
        color: $color__accent;
        &:hover {
          text-decoration: none;
        }

        display: none;
        @include respond-to('mobile') {
          display: inline-block;
        }
      }
      &.header__logo {
        display: block;
      }
    }

    &-mob {
      display: flex;
      justify-content: stretch;
      flex-direction: column;
      text-align: center;
      gap: 12px;
      margin-bottom: 20px;
      a:not(.button) {
        display: inline-block;
      }
    }
  }
  &__close {
    cursor: pointer;
  }
  &__hamburger {
    display: inline-block;
    position: relative;
    margin-left: 12px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    @include respond-to('desktop') {
      display: none;
    }

    svg {
      width: 24px;
      height: 24px;
      &:first-child {
        display: block;
      }
      &:last-child {
        display: none;
      }
    }
    &.open {
      svg {
        &:first-child {
          display: none;
        }
        &:last-child {
          display: block;
        }
      }
    }
  }
}

body {
  &.open {
    overflow: hidden;
    .header__menu-mobile {
      top: 0;
    }
  }
}